<% if current_user.email == 'runappunal@gmail.com' %>
    <br></br>
    <div class="container" style="background-color: lightgray; padding: 1%;">
        <h1 style="color: #155892;">Estadisticas</h1>
        
        <h2 style="color: #155892;">Rutas creadas por dia. <%= @routesCreatedPerDay %></h2>
        
        <%= line_chart @routesCreatedPerDay, legend: true, curve: false, label: "rutas", xtitle: "Dia", ytitle: "Usuarios", title: "Rutas creadas por dia" %>
        
        <h2 style="color: #155892;">Usuarios creados por dia.</h2>
        
        <%= line_chart @usersCreatedPerDay, legend: true,curve: false, label: "Usuarios", xtitle: "Dia", ytitle: "Usuarios", title: "Usuarios creados por dia"%>
        
         <h2 style="color: #155892;">Carros por modelo</h2>
         
        <%= pie_chart @carsPerModel, title: "Modelos mas usados", library: {pieSliceText:'value-and-percentage'} %>
        
    </div>
    
    
<% else %>
    <div class="container">
        <br></br> <br></br> <br></br> 
        <div class="container" style="background-color: #F84444; width: 90%; height: 40%; color:white">
            <div id="spam">
                <h1>Acceso denegado</h1>
                <p>Solo los administradores pueden acceder.<br/><br/>
            </div>
            <div class="container" style="background-color: gray; width: 90%; height: 50%; color:white">
                <br><br>
                <h4><p>Vuelva a la página de inicio<br/></h4>
                <a href = "/"><button id="submitRegister" class="btn btn-primary btn-lg" type="submit">Atras</button></a>
                <br><br>
            </div>
        </div>    
    </div>
<% end %>