<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a RunApp, <%= @user.email %></h1>
    <p>
      Tu registro ha sido exitoso.
    </p>
    <p>
      Para entrar a la aplicación, dale clic al siguiente enlace: <%= @url %>.
    </p>
    <p>¡Disfruta la aplicación, que tengas un buen día!</p>
  </body>
</html>