<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RunApp</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!-- Custom styles for this template -->
    <link href="assets/one-page-wonder.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/users/mainPage">RunApp</a>
            <button class="navbar-toggle" data-toggle = "collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href = "/users/sign_up">Registrarse</a></li>
                    <li><a href = "/users/sign_in">Entrar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href = "/users/show">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">RUNAPP</h1>
          <h3 class="display-4 text-white">Bienvenido a RunApp, la mejor aplicacion de carpooling</h2>
        </div>
      </div>
    </header>
    
    <!-- Servicios -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Servicios</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-automobile fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Innovador</h4>
            <p class="text-muted">Comparte tu vehiculo y genera una ayuda para los demas y para ti en cuanto a gastos y tiempo </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Diseño responsive</h4>
            <p class="text-muted">Para que  puedas usar nuestra app desde cualquier dispositivo sin problemas de vistas por el tamaño de los dispositivos</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Seguridad</h4>
            <p class="text-muted">Gracias a las validaciones por medio del correo institucional y los codigos de confirmacion, te ofrecemos un mayor nivel de seguridad</p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nuestro equipo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
              <h4>Miguel Angel Borja</h4>
              <p class="text-muted">Scrum Master</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <h4>Camilo Rueda</h4>
              <p class="text-muted">Developer</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <h4>Santiago Marquez</h4>
              <p class="text-muted">Developer</p>
            </div>
          </div>
          <div class="col-sm-3 text-center">
            <div class="team-member">
              <h4>Miguel Villamil</h4>
              <p class="text-muted">Lead Developer</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RunApp 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    
    
</body>

</html>