<div class="container">
    <div class="row">
        <div class="col-md-12 personal-info">
                <br></br> <br></br> <br></br> 
                <div class="container" style="background-color: rgba(0,0,0,0.7); width: 90%; height: 40%; color:white">
                    <div id="spam">
                        <h1>Solicitud recibida</h1>
                    </div>
                    <div class="container" style=" width: 90%; height: 100%; color:white">
                        <br><br>
                        <h4><p>Tu solicitud ha sido recibida con éxito. Gracias por participar.</p><br/></h4>
                        <a href="/rutas/<%= @ruta %>"><button id="submitRegister" class="btn btn-primary btn-lg" type="submit">Regresar</button></a>
                        <br><br>
                    </div>
            </div>
        </div>
    </div>
</div>