<h1>Create event</h1>

<div style='width: 800px;'>
  <div id="mapEventCreate" style='width: 400px; height: 400px;'></div>
</div>

<script type="text/javascript">
var markers = [];
handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'mapEventCreate'}, 
  provider : {
    zoom: 17,
    center: new google.maps.LatLng(4.635540,-74.082807),
  }
  });

placeMarker(new google.maps.LatLng(4.635540,-74.082807));

  google.maps.event.addListener(handler.getMap(), 'click', function(event) {
  placeMarker(event.latLng);
  console.log("add");
});
google.maps.event.addListener(markers, 'rightlclick', function() {
    removeMarker(markers);
    console.log("remove");
});
var delMarker = function (markerPar) {
    removeMarker(markerPar);
    
}
function placeMarker(location) {
    var marker = new google.maps.Marker({
        position: location, 
        map: handler.getMap(),
        draggable: true
    });
    markers.push(marker);
    console.log(markers);
}
</script>

